<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>ECOBIZ Home</title>
    <link href="/assets/css/style.css" rel="stylesheet" type="text/css" />
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel="stylesheet">
	<link rel="icon" type="image/png" href="/images/ECOBIZlogo.png">

  </head>
  <body>
    <div class="navigation-bar">
      <div class="ecobiz-logo">
        <a href="/"> <img src="/images/ECOBIZlogo.png">
        </a>
      </div>
      <div id="navigation-container">
      <ul>
        <li><a href="/directory">Directory</a></li>
        <li><a href="/jobs">Jobs</a></li>
        <li><a href="/resources">Resources</a></li>
        <li><a href="/login">Login</a></li>
      </ul>
      </div>
    </div>

                <!-- Main -->
                    {% block body %}{% endblock %}
  </body>
  <script src="https://www.gstatic.com/firebasejs/8.8.0/firebase.js"></script>
  <script src="/assets/js/firebase.js"></script>
  <script src="/assets/js/script.js"></script>

</html>
<!--			<script>-->
<!--				var x = document.getElementById("error");-->
<!--				function getLocation() {-->
<!--				  if (navigator.geolocation) {-->
<!--					navigator.geolocation.getCurrentPosition(passPosition);-->
<!--				  } else {-->
<!--					x.innerHTML = "Geolocation is not supported by this browser.";-->
<!--				  }-->
<!--				}-->

<!--				function passPosition(position) {-->
<!--					var dat = [position.coords.latitude, position.coords.longitude];-->

<!--					$.ajax({-->
<!--						type: 'POST',-->
<!--						url: "/services",-->
<!--						data: JSON.stringify(dat),-->
<!--						contentType: 'application/json;charset=UTF-8',-->
<!--						success: function(data){-->
<!--							window.location.href = "/services?" + data.address;-->
<!--						}-->
<!--					});-->
<!--				}-->
<!--			</script>-->

<!--		&lt;!&ndash; Scripts &ndash;&gt;-->
<!--			<script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>-->
<!--			<script src="{{ url_for('static', filename='assets/js/jquery.scrolly.min.js') }}"></script>-->
<!--			<script src="{{ url_for('static', filename='assets/js/jquery.scrollex.min.js') }}"></script>-->
<!--			<script src="{{ url_for('static', filename='assets/js/browser.min.js') }}"></script>-->
<!--			<script src="{{ url_for('static', filename='assets/js/breakpoints.min.js') }}"></script>-->
<!--			<script src="{{ url_for('static', filename='assets/js/util.js') }}"></script>-->
<!--			<script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>-->
<!--			<script type="module">-->
<!--			  // Import the functions you need from the SDKs you need-->
<!--			  import { initializeApp } from "https://www.gstatic.com/firebasejs/9.0.2/firebase-app.js";-->
<!--			  import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.0.2/firebase-analytics.js";-->
<!--			  // TODO: Add SDKs for Firebase products that you want to use-->
<!--			  // https://firebase.google.com/docs/web/setup#available-libraries-->

<!--			  // Your web app's Firebase configuration-->
<!--			  // For Firebase JS SDK v7.20.0 and later, measurementId is optional-->
<!--			  const firebaseConfig = {-->
<!--				apiKey: "AIzaSyC3-64_FCq0MTfkz1yZxPgiMg6FjekjsyQ",-->
<!--				authDomain: "ecobiz-com.firebaseapp.com",-->
<!--				projectId: "ecobiz-com",-->
<!--				storageBucket: "ecobiz-com.appspot.com",-->
<!--				messagingSenderId: "530286252060",-->
<!--				appId: "1:530286252060:web:febfb512972936c9d94fd9",-->
<!--				measurementId: "G-KY5ZQDXGFB"-->
<!--			  };-->

<!--			  // Initialize Firebase-->
<!--			  const app = initializeApp(firebaseConfig);-->
<!--			  const analytics = getAnalytics(app);-->
<!--			</script>-->