{% extends 'base.html' %}

{% block body %}

      <section id="sustainable-directory">
        <h1> The Sustainable Directory  </h1>
        <p>Enter a network of freelancers and business owners<br>saving the planet, one sustainable service at a time.</p>
        <form>
          <button onclick="location.href='/postservices'" type="button" class="button button8">Join the directory</button>
        </form>
      </section>

      <section id="explore-directory">
        <h2> Explore the Directory  </h2>
        <input type="text" id="searchbar" name="searchbar" placeholder="Search">

        <div id="search-container">
        <input type="text" id="searchbar" name="searchbar" placeholder="Try keywords like 'UX Designer' or 'Marketer.'">
        </div>

        <button id="search-button">Search</button>


        {% for service_row in service_list %}
            {% for service in service_row %}
                <div class="box-{{ loop.index }}">
                    <img src="{{ service.img }}" id="person">
                    <h1>{{ service.full_name }}</h1>
                    <h1><strong>{{ service.jobTitle }}</strong></h1>
                    <p><a href="{{ service.application }}">Email me!</a> | <a href="{{ service.instagram }}">Instagram</a> | <a href="{{ service.linkedin }}">LinkedIn</a> | <a href="{{ service.website }}">Website</a></p>
                </div>
            {% endfor %}
        {% endfor %}

        <div class="box-3">
        <img src="/images/jordynstanton.png" id="jordynstanton">
	      <h1>Jordyn Stanton</h1>
        <h1><strong>User Experience Designer</strong></h1>
	      <p><a href="#">Email me!</a> | <a href="#">Instagram</a> | <a href="#">LinkedIn</a> | <a href="#">Website</a></p>
        </div>

        <div class="box-4">
        <img src="/images/mirakenter.png" id="mirakenter">
	      <h1>Mira Kenter</h1>
        <h1><strong>User Experience Designer</strong></h1>
	      <p><a href="#">Email me!</a> | <a href="#">Instagram</a> | <a href="#">LinkedIn</a> | <a href="#">Website</a></p>
        </div>

        <div class="box-5">
        <img src="/images/brandondorwart.png" id="brandondorwart">
	      <h1>Brandon Dorwart</h1>
        <h1><strong>User Experience Designer</strong></h1>
	      <p><a href="#">Email me!</a> | <a href="#">Instagram</a> | <a href="#">LinkedIn</a> | <a href="#">Website</a></p>
        </div>

        <div class="box-6">
        <img src="/images/allisonsaris.png" id="allisonsaris">
	      <h1>Allison Saris</h1>
        <h1><strong>User Experience Designer</strong></h1>
	      <p><a href="#">Email me!</a> | <a href="#">Instagram</a> | <a href="#">LinkedIn</a> | <a href="#">Website</a></p>
        </div>
      </section>
{% endblock %}