{% extends 'base.html' %}

{% block body %}
    <section id="post-listing">
        <h1> Let's promote your listing. </h1>
      
      {{ error }}
      <form action="/postjoblisting" method="POST">
        <label for="company">Company</label>
        <br>
        <input type="text" id="company" name="company" placeholder="Company">

        <br>
        <br>

        <label for="title">Title</label>
        <br>
        <input type="text" id="title" name="jobTitle" placeholder="UX Designer">


        <br>
        <br>

        <label for="skills-needed">Skills Needed</label>
        <br>
        <input type="text" id="skills-needed" name="skills-needed" placeholder="UX Design">


        <br>
        <br>

        <label for="description">Description</label>
        <br>
        <input type="text" id="description" name="description" placeholder="Add your description here.">


        <br>
        <br>

        <label for="website">Link to website</label>
        <br>
        <input type="text" id="website" name="website" placeholder="https://mywebsite.com">


        <br>
        <br>

        <label for="linkedin">LinkedIn URL</label>
        <br>
        <input type="text" id="linkedin" name="linkedin" placeholder="https://linkedin.com/in/username">


        <br>
        <br>

        <label for="instagram">Instagram URL</label>
        <br>
        <input type="text" id="instagram" name="instagram" placeholder="https://instagram.com/username">


        <br>
        <br>

        <label for="application">Link to application</label>
        <br>
        <input type="text" id="application" name="application" placeholder="https://company.com/application">


      <br>
      <br>




      <button type="submit">Submit</button>
      </form>
      </section>
{% endblock %}
  
