{% extends 'base.html' %}

{% block body %}

    <section id="post-services">
        <h1> Let's promote your services. </h1>

      {{ error }}
      <form action="/postservices" method="POST">
        <label for="full-name">Full Name</label>
        <br>
        <input type="text" id="full-name" name="full-name" placeholder="John Doe">

        <br>
        <br>

        <label for="title">Title</label>
        <br>
        <input type="text" id="title" name="jobTitle" placeholder="UX Designer">


        <br>
        <br>

        <label for="skills">Skills</label>
        <br>
        <input type="text" id="skills" name="skills" placeholder="UX Design">


        <br>
        <br>

        <label for="bio">Bio</label>
        <br>
        <input type="text" id="bio" name="bio" placeholder="Add your bio here.">


        <br>
        <br>

        <label for="website">Link to website</label>
        <br>
        <input type="text" id="website" name="website" placeholder="https://mywebsite.com">


        <br>
        <br>

        <label for="linkedin">LinkedIn URL</label>
        <br>
        <input type="text" id="linkedin" name="linkedin" placeholder="https://linkedin.com/in/username">


        <br>
        <br>

        <label for="instagram">Instagram URL</label>
        <br>
        <input type="text" id="instagram" name="instagram" placeholder="https://instagram.com/username">

      <br>
      <br>

      <button type="submit">Submit</button>
      </form>
      </section>
{% endblock %}