{% extends 'base.html' %}

{% block body %}
<section id="login">
      <h1> Let's create your account. </h1>
      <form action="/register" method="POST">
            <label for="email">Email</label>
            <br>
            <input type="email" id="email" name="email" placeholder="name@example.com"
                   {% if email %} value="{{ email }}" {% endif %}>

            <br>
            <br>

            <label for="password">Password</label>
            <br>
            <input type="password" id="password" name="password" placeholder="Enter Password">

            <br>
            {{ error }}
            <br>

            <button type="submit">Register</button>
      </form>
      <br>

      <p>Already have an account? <a href="/login">Sign in.</a></p>
</section>

{% endblock %}