{% extends 'base.html' %}

{% block body %}

    <section id="resources-page">
        <h1>Resources for Eco-Entrepreneurs</h1>
        <p>From project management tools to invoicing systems, here are some <br>of our favorite resources for freelancers and business owners.</p>
        <br>
        <section id="project-management">
        <div class="container">
        <h2 id="projectmanagement">Project Management</h2>
        
        <a href="https://www.notion.so">
        <div class="box-10">
        <br>
        <img src="/images/notion-logo.png" id="notionlogo">
        <br>
        </div>
        </a>

        <a href="https://asana.com">
        <div class="box-11">
          <br>
          <br>
          <img src="/images/asana-logo.png" id="asanalogo">
          <br>
          <br>
        </div>
        </a>

        <a href="https://airtable.com">
        <div class="box-12">
          <br>
          <img src="/images/airtable.png" id="airtablelogo">
          <br>
        </div>
        </a>
        </section>

    <section id="invoicing-and-finances">
        <div class="container">
        <h2 id="invoicing-finances">Invoicing and Finances</h2>

        <a href="https://www.waveapps.com">
        <div class="box-13">
        <br>
        <img src="/images/wave-logo.png" id="wavelogo">
        <br>
        </div>
        </a>

        <a href="https://stripe.com">
        <div class="box-14">
          <br>
          <br>
          <br>
          <br>
          <img src="/images/stripe-logo.png" id="stripelogo">
          <br>
          <br>
          <br>
          <br>
        </div>
        </a>

        <a href="https://quickbooks.intuit.com">
        <div class="box-15">
          <br>
          <img src="/images/quickbooks-logo.png" id="quickbookslogo">
          <br>
        </div>
        </a>
        </section>
    </section>

    <section id="sustainability-resources">
        <div class="container">
        <h2 id="sustainability-resources-section">Sustainability Resources</h2>
        
        <a href="https://www.sba.gov/business-guide/manage-your-business/manage-your-finances">
        <div class="box-16">
        <br>
        <img src="/images/SBAlogo.png" id="sbalogo">
        <br>
        </div>
        </a>

        <a href="https://www.epa.gov/energy/clean-energy-programs">
        <div class="box-17">
          <br>
          <br>
          <img src="/images/USEPAlogo.png" id="usepalogo">
          <br>
          <br>
        </div>
        </a>

        <a href="https://inhabitat.com/page/3/">
        <div class="box-18">
          <br>
          <br>
          <img src="/images/InhabitatLogo.png" id="inhabitatlogo">
          <br>
          <br>
        </div>
        </a>
        <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          
         
        </section>
    </section>
{% endblock %}