{% extends 'base.html' %}


{% block head %}
<title>About Us | Responder</title>
{% endblock %}

{% block body %}
<!-- Banner -->
<!-- Note: The "styleN" class below should match that of the header element. -->
	<section id="banner" class="style2">
		<div class="inner">
			<span class="image">
				<img src="static/images/team2.jpg" alt="" />
			</span>
			<header class="major">
				<h1>About Us</h1>
			</header>
			<div class="content">
				<p>Learn more about the creators!</p>
			</div>
		</div>
	</section>

<!-- Main -->
	<div id="main">

	<!-- One -->
		<section id="one">
			<div class="inner">
				<header class="major">
					<h2>Who We Are</h2>
				</header>
				<p>Here at Responder, we are a group of four high school students who have created
					this service to help seniors around the world. We firmly believe that getting
					to a hospital in times of need is a right and not a privilage. Thus, Responder
					helps the generations before us get access to healthcare as soon as possible,
					and we are proud to be leaders in our community!</p>
				<div class="iframe-container"
					 style="position: relative;overflow: hidden;width: 100%;padding-top: 56.25%;">
				<iframe style="position: absolute;top: 0;left: 0;bottom: 0;right: 0;width: 100%;height: 100%;"
						src="https://www.youtube.com/embed/mV3-fm7yFmg"
						title="YouTube video player" frameborder="0"
						allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
						allowfullscreen></iframe>
				</div>
			</div>
		</section>

	<!-- Two -->
		<section id="two" class="spotlights">
			<section>
				<a href="generic.html" class="image">
					<img src="static/images/ampfp.png" alt="" data-position="center center" />
				</a>
				<div class="content">
					<div class="inner">
						<header class="major">
							<h3>Abhijith Varma Mudunuri</h3>
						</header>
						<p>Abhijith is a junior at American High School. He loves to compete in public forum debate, design UI, and program backend. In his spare time, he enjoys playing video games, coding, and teaching debate at Ezy Learning. Abhijith learned python in 8th grade and web development in 9th grade. Since then he has worked on numerous computer science projects and loves helping the community.</p>
						<ul class="icons">
							<li><a href="https://www.facebook.com/abhijithvarma.mudunuri.9/" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
							<li><a href="https://www.instagram.com/abhijith.varma.mudunuri/" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="https://www.linkedin.com/in/abhijith-varma-mudunuri-8529b01a8/" class="icon brands alt fa-linkedin-in"><span class="label">Linkedin</span></a></li>
						</ul>
					</div>
				</div>
			</section>
			<section>
				<a href="generic.html" class="image">
					<img src="static/images/apfp.jpg" alt="" data-position="top center" />
				</a>
				<div class="content">
					<div class="inner">
						<header class="major">
							<h3>Anuj Naik</h3>
						</header>
						<p>											<p>Anuj is a sophomore at American High School, and he learned how to code in python five years ago. He enjoys coding because it allows him to be creative and to making really interesting projects. He likes to learn about machine learning and make apps, and hopes to pursue a career in machine learning and AI in the future.</p>
						<ul class="actions">
							<li><a href="https://www.facebook.com/anuj.naik.98478/" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
							<li><a href="https://www.instagram.com/anujnaik24/" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="https://www.linkedin.com/in/anuj-naik-466554202/" class="icon brands alt fa-linkedin-in"><span class="label">Linkedin</span></a></li>
						</ul>
					</div>
				</div>
			</section>
			<section>
				<a href="generic.html" class="image">
					<img src="static/images/jpfp.jpg" alt="" data-position="25% 25%" />
				</a>
				<div class="content">
					<div class="inner">
						<header class="major">
							<h3>Jahsh Arshad</h3>
						</header>
						<p>Jahsh Arshad is a rising sophomore at American High School. He has been coding for six years, mainly in Python, and has a strong passion for competitive programming. While not coding, he loves to play soccer, debate, and watch movies with his family.</p>
						<ul class="actions">
							<li><a href="https://www.facebook.com/jahsh.arshad/" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
							<li><a href="https://www.instagram.com/jahsharshad/" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="https://www.linkedin.com/in/jahsh-arshad-359827207/" class="icon brands alt fa-linkedin-in"><span class="label">Linkedin</span></a></li>
						</ul>
					</div>
				</div>
			</section>
			<section>
				<a href="generic.html" class="image">
					<img src="static/images/rpfp.jpg" alt="" data-position="top center" />
				</a>
				<div class="content">
					<div class="inner">
						<header class="major">
							<h3>Rachelle Hu</h3>
						</header>
						<p>Rachelle is a senior at Livingston High School. She is passionate about using art, biology, and technology for social good. She explores the intersection of interests at robotics, personal projects, and at work. In her free time, she likes to make art, code, and watch YouTube videos to further develop her technical skills; Rachelle began coding in eighth grade, where she picked up Python. Since then, she has self-learned other languages such as C, HTML/CSS, and Java for an AP exam. She loves making projects and seeing their impact on the people around her.</p>
						<ul class="actions">
							<li><a href="https://www.facebook.com/people/Rachelle-Hu/100010129214735/" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
							<li><a href="https://www.instagram.com/rachelle.who/" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="https://www.linkedin.com/in/rachelle-hu/" class="icon brands alt fa-linkedin-in"><span class="label">Linkedin</span></a></li>
						</ul>
					</div>
				</div>
			</section>
		</section>
	</div>

{% endblock %}
