{% extends 'base.html' %}

{% block body %}

<!-- Banner -->
	<section id="banner" class="major">
		<div class="inner">
			<header class="major">
				<h1>Responder</h1>
			</header>
			<div class="content">
				<ul class="actions">
    				<form action="/" method="POST">
						<div class="field half">
							<label for="address" style="font-size: 18px">Type in your address to locate emergency services near you</label>
							<div class="input address-box" style="margin-right: 20px;">
								<input size="50" type="text" name="address" id="address" />
							</div>
							<div class="input"><input type="submit" class="address-button" value="Let's Go!" /></div>
						</div>
						<div>{{ error_msg }}</div>
						<div style="padding-top: 10px">
							<p>You can also
								<a style="border-bottom: 2px dotted;" onclick="getLocation()">use your current location</a>
							</p>
							<p id="error"></p>
						</div>
					</form>
				</ul>
			</div>
		</div>
	</section>

		<div id="main">
		<!-- One -->
			<section id="one" class="tiles">
				<article>
					<span class="image">
						<img src="static/images/maps.jpg" alt="" />
					</span>
					<header class="major">
						<h3><a href="https://maps.google.com/" class="link">Google Maps</a></h3>
						<p>Click here to go to Google Maps</p>
					</header>
				</article>
				<article>
					<span class="image">
						<img src="static/images/hand.jpg" alt="" />
					</span>
					<header class="major">
						<h3><a href="services" class="link">Services</a></h3>
						<p>Learn about health information near you</p>
					</header>
				</article>
				<article>
					<span class="image">
						<img src="static/images/education.jpg" alt="" />
					</span>
					<header class="major">
						<h3><a href="education" class="link">Education</a></h3>
						<p>Learn more about staying safe</p>
					</header>
				</article>
				<article>
					<span class="image">
						<img src="static/images/team.jpg" alt="" />
					</span>
					<header class="major">
						<h3><a href="about-us" class="link">About Us</a></h3>
						<p>Learn more about who we are</p>
					</header>
				</article>
				</article>
			</section>

		<!-- Two -->
			<section id="two">
				<div class="inner">
					<header class="major">
						<h2>Helping the Community</h2>
					</header>
					<p>Responder is a free service that helps seniors get medical attention as soon as possible. With the help of google maps API, flask, jinja2, and other amazing software, we bring to you Responder. Our grandparents and other seniors are the most vulnerable, especially after the pandemic. Keeping them safe is our first priority. Thanks, for helping us keep everyone safe! </p>
					<ul class="actions">
						<li><a href="about-us" class="button next">Learn more about our team</a></li>
					</ul>
				</div>
			</section>

	</div>


<script>
	function getLocation() {
	  if (navigator.geolocation) {
		navigator.geolocation.getCurrentPosition(passPosition);
	  }
	}

	function passPosition(position) {
		var dat = [position.coords.latitude, position.coords.longitude];

		$.ajax({
			type: 'POST',
			url: "/services",
			data: JSON.stringify(dat),
			contentType: 'application/json;charset=UTF-8',
			success: function(data) {
				window.location.href = "/services?" + data.address;
			}
		});
	}
</script>
{% endblock %}
